@import "../../asset/style/theme.scss";

.cart {
    background-color: #F4F4F4;
    height: 100vh;

    &__not-login {
        background: #ffffff;
    }
    &__login {
        margin-top: -80px;
        padding: 0 30px;
    }
}