@import "../../../asset/style/theme.scss";

.home-icon-config {
  display: flex;
  flex-wrap: wrap;
  background: #ffffff;
  padding: 0 30rpx;
}
.home-icon-config__item {
  width: 116px;
  height: 160px;
  // margin: 10px;
  flex: 1;
  margin-bottom: 30rpx;
  text-align: center;
  &-img {
    height: 116px;
    width: 116px;
  }
  &-txt {
    margin-top: 10rpx;
    text-align: center;
    font-size: 24rpx;
    color:rgb(51, 51, 51);
    line-height: 1.2;
    white-space: nowrap;
    font-family: 'PingFangSC-Regular';
  }
}





