.com-scroll-bar {
    position: relative;
    width: 100%;
    height: 80rpx;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    .com-scroll-bar-itemWrap {
        display: inline-block;
        font-size: 20px;
        .com-scroll-bar-item {
            display: inline-block;
        }
    }
}